body {
    font-family: "Roboto", sans-serif;
    background: #eee;
    margin: 0;
    padding:0;
}

.container {
    width: 21cm;
    height: 29.7cm;
    margin: 0 auto;
    padding: 1.5rem;
    overflow: auto;
    background-color: white;
    display: flex;
    gap: .5rem;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.30);
}

.left-panel {
    width: 30%;
    padding: .5rem;
    /* border: .5px solid orange; */
}


.right-panel {
    width: 70%;
    padding: .5rem;
    /* border: .5px solid red; */
}

.right-panel .section-certifications {
    display: none;
}

p {
    font-family: "Lato", sans-serif;
    margin: 0;
}



.section-header {
    /* border: 1px solid orange; */
    margin: 3rem 0;
}

#name {
    font-size: 2.5rem;
    font-weight: bolder;
    /* border: .2rem solid red; */
    margin: 0 0 .5rem 0;

}

#name-tagline {
    margin: 0 auto .5rem 0;
    padding: 0;

}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-top: 0;

    
}

.section-titles {
    font-weight: bolder;
    /* border: .2rem solid red; */
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.left-panel .section-titles {
    margin-top: 2rem;
    margin-bottom: .5rem;
}

.my-profile {
    margin: 0;
    text-align: left;
    line-height: 1.5;

}

.my-skills {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    line-height: 1.5;
}

.entry * {
    margin: 0;
}

.entry {
    margin-bottom: .5rem;
}

.position-info {
    display: flex;
    justify-content: space-between;
    font-style: italic;
    font-weight: bold;
}

#part-time-employers{
    white-space: normal;
}

#part-time-duration {
    white-space: nowrap;
    align-self: end;
}
.section-profile {
    margin-bottom: 1rem;
}

.my-project-container {
    margin-top: .5rem;
}
ul {
    padding-left: 1rem;
}

span {
    display: inline-block;
    font-family: "Roboto";
    font-weight: bold;
}


/* 1024 */
@media (max-width: 800px) {
    .container{
        display: flex;
        flex-direction: column;
        gap:0;
        width: 70%;
        margin: 10px auto;
        padding: 3rem;
    }

    .left-panel, .right-panel {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .left-panel .section-certifications {
        display: none;
    }

    .right-panel .section-certifications {
        display: block;
    }

    .right-panel .section-certifications .entry {
        margin-bottom: .5rem ;
    }

    .section-titles {
        padding:0;
        margin: 2rem 0 .5rem 0 !important;
    }
    .section-header {
        margin: 0;
    }

    .section-header .contact-info {
        display: flex;
        justify-content: flex-start;
        gap:1rem;
    }

    .my-profile, .my-skills {
        line-height: normal;
    }

    .my-skills {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }



}

/* @media print {
    body {
        background: white;
        color: black;
        font-size: 10pt;
    }

    .container {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        box-shadow: 0;
    }
}

@page {
    size: A4;
    margin: .5cm;
} */